@font-face {
    font-family: "Lora-Regular";
    src: url("../../public//font/Lora/Lora-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LibreBodoni-Bold";
    src: url("../../public//font/Libre_Bodoni/LibreBodoni-Bold.ttf") format("truetype");
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 30px;
    z-index: 1;
    font-family: "Lora-Regular";
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    
}

.header-title a {
    font-family: "LibreBodoni-Bold";
    font-size: 28px;
    text-decoration: none;
    color: #343434;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.nav-menu a {
    gap: 30px;
    font-family: "Lora-Regular";
    font-size: 20px;
    text-decoration: none;
    color: #909090;
}

.nav-menu a:hover {
    color: #343434;
}



