@font-face {
    font-family: "Lora-Regular";
    src: url("../../public//font/Lora/Lora-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "LibreBodoni-Bold";
    src: url("../../public//font/Libre_Bodoni/LibreBodoni-Bold.ttf") format("truetype");
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 24px 30px;
    z-index: 10;

    font-family: "Lora-Regular";
    font-size: 20px;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8px);

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

    transition: background-color 180ms ease, box-shadow 180ms ease;
    
}

.header.scrolled {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 10px 26px rgba(0, 0, 0, 0.12);
}

.header-title a {
    font-family: "LibreBodoni-Bold";
    font-size: 28px;
    text-decoration: none;
    color: #f2f2f2;
    transition: color 180ms ease;
}

.nav-menu {
    display: flex;
    gap: 30px;
}

.nav-menu a {
    gap: 30px;
    font-family: "Lora-Regular";
    font-size: 20px;
    text-decoration: none;
    color: #f2f2f2;
    transition: color 180ms ease;
}

.header-title a:hover,
.nav-menu a:hover {
    color: #343434
}

.header-title a.active,
.nav-menu a.active {
    color: #343434;
}

.header.scrolled .header-title a,
.header.scrolled .nav-menu a {
    color: #d9d9d9;
}

.header.scrolled .header-title a:hover,
.header.scrolled .nav-menu a:hover,
.header.scrolled .header-title a.active,
.header.scrolled .nav-menu a.active {
    color: #343434;
}
